html {
  height: 100%; /* Définit la hauteur de l'élément html à 100% de la fenêtre */
  width: 100%; /* Définit la largeur de l'élément html à 100% de la fenêtre */
}

body {
  background-image: url('https://images.photowall.com/products/43950/world-map-shade.jpg?h=699&q=85'); /* Image de fond pour le corps */
  background-repeat: no-repeat; /* Empêche la répétition de l'image de fond */
  background-attachment: fixed; /* Fixe l'image de fond lors du défilement */
  background-size: cover; /* Couvre entièrement le corps avec l'image de fond */
  text-align: center; /* Centre le texte dans le corps */
}

.emptySpace {
  height: 100px; /* Hauteur de l'espace vide */
  width: 100%; /* Largeur de l'espace vide à 100% */
}

.title {
  width: 40%; /* Largeur de l'élément titre à 40% */
  height: auto; /* Hauteur automatique pour s'adapter au contenu */
  margin-right: auto; /* Marge droite automatique pour centrer l'élément */
  margin-left: auto; /* Marge gauche automatique pour centrer l'élément */
  margin-top: 10px; /* Marge supérieure de 10px */
  text-align: center; /* Centre le texte dans l'élément titre */
  color: white; /* Couleur du texte en blanc */
  background-color: rgb(32, 182, 224); /* Couleur de fond de l'élément titre */
  overflow: hidden; /* Cache le débordement du contenu */
  padding: 10px; /* Ajoute un rembourrage de 10px autour du contenu */
  border: solid, 3px, rgb(24, 114, 139); /* Bordure solide de 3px avec une couleur spécifique */
  border-radius: 20px; /* Arrondit les coins de l'élément titre */
}

#jeux {
  background-color: rgb(32, 182, 224); /* Couleur de fond pour l'élément avec l'ID jeux */
  color: white; /* Couleur du texte en blanc */
  width: 80%; /* Largeur de l'élément à 80% */
  border-radius: 30px; /* Arrondit les coins de l'élément */
  margin-left: auto; /* Marge gauche automatique pour centrer l'élément */
  margin-right: auto; /* Marge droite automatique pour centrer l'élément */
  border: solid, 3px, rgb(24, 114, 139); /* Bordure solide de 3px avec une couleur spécifique */
}

#btnjouer {
  font-size: 20px; /* Taille de police de 20px pour le bouton jouer */
  color: white; /* Couleur du texte en blanc */
  background-color: inherit; /* Hérite de la couleur de fond de l'élément parent */
  border: solid, 2px, white; /* Bordure solide de 2px en blanc */
  border-radius: 30px; /* Arrondit les coins du bouton */
  padding: 10px; /* Ajoute un rembourrage de 10px autour du bouton */
}

#btnjouer:hover {
  background-color: rgb(24, 114, 139); /* Change la couleur de fond au survol */
}

#btnChoixContinentDiv {
  padding-top: 20px; /* Ajoute un rembourrage supérieur de 20px */
}

.grid-container {
  position: relative; /* Position relative pour le conteneur de la grille */
  width: 95%; /* Largeur du conteneur à 95% */
  background-color: white; /* Couleur de fond blanche pour le conteneur */
  margin-left: auto; /* Marge gauche automatique pour centrer le conteneur */
  margin-right: auto; /* Marge droite automatique pour centrer le conteneur */
  height: 800px; /* Hauteur fixe de 800px pour le conteneur */
  border-radius: 30px; /* Arrondit les coins du conteneur */
  border: solid, 1px, white; /* Bordure solide de 1px en blanc */
}

img {
  cursor: pointer; /* Change le curseur en pointeur sur les images */
  appearance: none; /* Supprime l'apparence par défaut de l'image */
  background-color: transparent; /* Fond transparent pour les images */
}

img:hover {
  transform: scale(1.2); /* Agrandit l'image au survol */
}

.btnChoixContinent {
  color: white; /* Couleur du texte en blanc */
  background-color: inherit; /* Hérite de la couleur de fond de l'élément parent */
  border: solid, 2px, white; /* Bordure solide de 2px en blanc */
  border-radius: 15px; /* Arrondit les coins du bouton */
  padding: 5px; /* Ajoute un rembourrage de 5px autour du bouton */
}

.btnChoixContinent:hover {
  background-color: rgb(24, 114, 139); /* Change la couleur de fond au survol */
}

.btnChoixContinent:focus {
  background-color: rgb(24, 114, 139); /* Change la couleur de fond lors du focus */
  border: solid, 10px, rgb(24, 114, 139); /* Bordure solide de 10px lors du focus */
  border-radius: 60px; /* Arrondit les coins lors du focus */
}

/* Positionnement des pays sur la carte */
#ÉTATS-UNIS {
  position: absolute; /* Positionnement absolu pour l'élément */
  top: 245px; /* Position verticale à 245px du haut */
  left: 110px; /* Position horizontale à 110px de la gauche */
  height: 200px; /* Hauteur de l'élément à 200px */
  transition: transform 0.3s ease; /* Transition douce pour les transformations */
}

#CANADA {
  position: absolute; /* Positionnement absolu pour l'élément */
  left: 100px; /* Position horizontale à 100px de la gauche */
  height: 340px; /* Hauteur de l'élément à 340px */
  transform: rotate(-8deg); /* Rotation de l'élément de -8 degrés */
  transition: transform 0.3s ease; /* Transition douce pour les transformations */
}

#CANADA:hover {
  transform: rotate(-8deg) scale(1.2); /* Rotation et agrandissement au survol */
}

/* Autres pays avec positionnement et transformations similaires */
#MEXIQUE {
  position: absolute; 
  top: 390px; 
  left: 115px; 
  height: 155px;
  transform: rotate(8deg);
  transition: transform 0.3s ease;
}

#MEXIQUE:hover {
  transform: rotate(8deg) scale(1.2); /* Rotation et agrandissement au survol */
}

/* Positionnement des autres pays */
#GUATEMALA {
  position: absolute;
  top: 525px;
  left: 300px;
  height: 45px;
  transition: transform 0.3s ease;
}

#BELIZE {
  position: absolute;
  top: 520px;
  left: 325px;
  height: 28px;
  transition: transform 0.3s ease;
}

#HONDURAS {
  position: absolute;
  top: 535px;
  left: 335px;
  height: 35px;
  transition: transform 0.3s ease;
}

#EL-SALVADOR {
  position: absolute;
  top: 557px;
  left: 323px;
  height: 20px;
  transition: transform 0.3s ease;
}

#NICARAGUA {
  position: absolute;
  top: 557px;
  left: 345px;
  height: 44px;
  transition: transform 0.3s ease;
}

#COSTA-RICA {
  position: absolute;
  top: 590px;
  left: 360px;
  height: 32px;
  transition: transform 0.3s ease;
}

#PANAMA {
  position: absolute;
  top: 615px;
  left: 385px;
  height: 40px;
  transition: transform 0.3s ease;
}

#CUBA {
  position: absolute;
  top: 450px;
  left: 365px;
  height: 95px;
  transition: transform 0.3s ease;
}

#BAHAMAS {
  position: absolute;
  top: 410px;
  left: 375px;
  height: 90px;
  transition: transform 0.3s ease;
}

#carteCaraibes {
  position: relative; /* Positionnement relatif pour la carte des Caraïbes */
  background: inherit; /* Hérite de l'arrière-plan de l'élément parent */
  border: solid, 3px, black; /* Bordure solide de 3px en noir */
  height: 350px; /* Hauteur de la carte à 350px */
  width: 45%; /* Largeur de la carte à 45% */
  margin-top: 400px; /* Marge supérieure de 400px */
  margin-left: 50%; /* Marge gauche de 50% pour centrer */
}

/* Positionnement des pays dans les Caraïbes */
#JAMAÏQUE {
  position: absolute;
  top: 70px;
  left: 20px;
  height: 30px;
  transition: transform 0.3s ease;
}

#HAÏTI {
  position: absolute;
  top: 20px;
  left: 110px;
  height: 70px;
  transition: transform 0.3s ease;
}

#RÉPUBLIQUE-DOMINICAINE {
  position: absolute;
  top: 20px;
  left: 200px;
  height: 80px;
  transition: transform 0.3s ease;
}

#PORTO-RICO {
  position: absolute;
  top: 70px;
  left: 350px;
  height: 20px;
  transition: transform 0.3s ease;
}

#TRINITÉ-ET-TOBAGO {
  position: absolute;
  top: 250px;
  right: 40px;
  height: 30px;
  transition: transform 0.3s ease;
}

#BARBADE {
  position: absolute;
  top: 200px;
  right: 10px;
  height: 20px;
  transition: transform 0.3s ease;
}

#SAINT-KITTS-ET-NEVIS {
  position: absolute;
  top: 90px;
  right: 70px;
  height: 30px;
  transition: transform 0.3s ease;
}

#SAINT-VINCENT-ET-LES-GRENADINES {
  position: absolute;
  top: 200px;
  right: 40px;
  height: 30px;
  transition: transform 0.3s ease;
}

#ANTIGUA-ET-BARBUDA {
  position: absolute;
  top: 80px;
  right: 40px;
  height: 35px;
  transition: transform 0.3s ease;
}

#SAINTE-LUCIE {
  position: absolute;
  top: 160px;
  right: 40px;
  height: 30px;
  transition: transform 0.3s ease;
}

#DOMINIQUE {
  position: absolute;
  top: 120px;
  right: 40px;
  height: 30px;
  transition: transform 0.3s ease;
}

/* CSS Barre de navigation */
.topnav {
  background-color: #6c8593; /* Couleur de fond de la barre de navigation */
  overflow: hidden; /* Cache le débordement de la barre de navigation */
  top: 0; /* Positionne la barre de navigation en haut */
  width: 100%; /* Largeur de la barre de navigation à 100% */
  font-family: monospace; /* Police monospace pour le texte de la barre de navigation */
}

.topnav a {
  float: left; /* Aligne les liens à gauche */
  color: #fdfdfd; /* Couleur du texte en blanc */
  text-align: center; /* Centre le texte des liens */
  padding: 14px 16px; /* Rembourrage autour des liens */
  text-decoration: none; /* Supprime le soulignement des liens */
  font-size: 17px; /* Taille de police de 17px pour les liens */
}

.topnav a:hover {
  background-color: #ddd; /* Change la couleur de fond au survol des liens */
  color: black; /* Change la couleur du texte au survol des liens */
}

.topnav a.active {
  background-color: rgb(24, 114, 139); /* Couleur de fond pour le lien actif */
  color: white; /* Couleur du texte en blanc pour le lien actif */
}
