#boxTitre {
  border-radius: 25px;
  width: 40%;
  border: solid, 3px,  rgb(24, 114, 139);
  padding: 25px;
  margin: 15px;
  background-color: rgb(32,182,224);
  color: white
}
#jeux{
  background-color:rgb(32 182 224);
  width: 80%;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  border: solid, 3px,  rgb(24, 114, 139); 
  color:white;
}

#divAffiche{
  background-color:rgb(24, 114, 139); );
  width: 25%;
  border: solid, 3px,  rgb(24, 114, 139); 
  border-radius: 10px;
  padding: 10px;
  margin:20px;
} 
body {
background-image: url("https://images.photowall.com/products/43950/world-map-shade.jpg?h=699&q=85");
background-repeat:| no-repeat;
background-attachement: fixed;
background-size: cover;
text-align: center;
}

/*CSS Barre de navigation*/
.topnav {
background-color:#6c8593;
overflow: hidden;
top: 0;
width: 100%;
font-family: monospace;
}
.topnav a {
float: left;
color: #fdfdfd;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}
.topnav a:hover {
background-color: #ddd;
color: black;
}
.topnav a.active {
background-color: #E14300;
color: white;
}



.emptySpace{
  height: 100px;
  width: 100%;
}



#vies{
  text-align: right;
  width:300px;
  height:20px;
  overflow: hidden;
  float: right;
  padding: 20px;
}
#gameOver{
  z-index: 1;
  position: absolute ;
  width: 74%;
  height: 74%;
  top:40%;
  bottom:40%;
  left:13%;
  right:13%;
  font-size:3em;
  text-align: center;
  border: solid, 5px, black;
  background-color: rgb(24, 114, 139);
  color: white;
}

#score{
  text-align: center;
  width:200px;
  height:20px;
  overflow: hidden;
  margin-right:auto;
  margin-left:auto;
  padding: 10px;
}

#valider {
  border-radius: 10px
  width: 20px
}

.emptySpace{
  height: 100px;
  width: 100%;
}

.box{
    border-radius: 25px;
    flex: 1;
    margin: 15px;
    padding: 20px;
    border: 2px solid black;
    background-color: rgb(255,255,255)


  
  }
