
html {
  height: 100%;
  width: 100%;
}
body{
  background-image: url('https://images.photowall.com/products/43950/world-map-shade.jpg?h=699&q=85');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align:center;
}

.emptySpace{
  height: 100px;
  width: 100%;
}

.title{
  width: 40%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  text-align: center;
  color:white;
  background-color:rgb(32 182 224);
  overflow:hidden;
  padding: 10px;
  border: solid, 3px,  rgb(24, 114, 139);  
  border-radius: 20px;
}

#jeux{
  background-color:rgb(32 182 224);
  color: white;
  width: 80%;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  border: solid, 3px,  rgb(24, 114, 139);
}
#btnjouer {
	font-size: 20px;
	color: white;
	background-color: inherit;
	border: solid, 2px, white;
	border-radius: 30px;
	padding: 10px;
}
#btnjouer:hover {
	background-color: rgb(24, 114, 139);
}
#btnChoixContinentDiv {
	padding-top: 20px;
}
.grid-container {
  position: relative;
  width: 95%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  height: 800px;
  border-radius: 30px;
  border: solid, 1px. white;
}

button[type='submit'] {
  border: none;
  cursor: pointer;
  appearance: none;
  background-color: transparent; 
}
button[type='submit']:hover {
  transform: scale(1.2);
}
button[type='submit']:focus {
	background-color: rgb(32 182 224);
}
.btnChoixContinent {
	color: white;
	background-color: inherit;
	border: solid, 2px, white;
	border-radius: 15px;
	padding: 5px;
}
.btnChoixContinent:hover {
	background-color: rgb(24, 114, 139);
}
.btnChoixContinent:focus {
	background-color: rgb(24, 114, 139);
	border: solid, 10px, rgb(24, 114, 139);
	border-radius: 60px;
}
button[value="ÉTATS-UNIS"] img {
	position: absolute;
	top: 180px; 
	left: 120px;  
	height: 84px;
	border: solid, 2px, blue;
}
button[value="CANADA"] img {
	position: absolute;
	top: 50px; 
	left: 100px; 
	height: 150px; 
	border: solid, 2px, blue;
}
button[value="MEXIQUE"] img {
	position: absolute; 
	top: 300px; 
	left: 150px; 
	height: 104px;
	width: 66px;
	border: solid, 2px, blue;
}
button[value="GUATEMALA"] img {
	position: absolute;
	top:;
	left:;
	height: 15px;
	width: 9px;
}
button[value="BELIZE"] img {
	position: absolute;
	top:;
	left:;
	height: 9px;
	width: 3px;
}
button[value="HONDURAS"] img {
	position: absolute;
	top:;
	left:;
	height: 20px;
	width: 2px;
}
button[value="EL SALVADOR"] img {
	position: absolute;
	top:;
	left:;
	height: 8px;
	width: 5px;
}
button[value="NICARAGUA"] img {
	position: absolute;
	top:;
	left:;
	height: 15px;
	width: 11px;
}
button[value="COSTA RICA"] img {
	position: absolute;
	top:;
	left:;
	height: 15px;
	width: 7px;
}
button[value="PANAMA"] img {
	position: absolute;
	top:;
	left:;
	height: 25px;
	width: 4px;
}
button[value="CUBA"] img {
	position: absolute;
	top:;
	left:;
	height: 41px;
	width: 6px;
}
button[value="JAMAÏQUE"] img {
	position: absolute;
	top:;
	left:;
	height: 8px;
	width: 3px;
}
button[value="HAÏTI"] img {
	position: absolute;
	top:;
	left:;
	height: 10px;
	width: 6px;
}
button[value="RÉPUBLIQUE DOMINICAINE"] img {
	position: absolute;
	top:;
	left:;
	height: 13px;
	width: 7px;
}
button[value="PORTO RICO"] img {
	position: absolute;
	top:;
	left:;
	height: 5px;
	width: 2px;
}
button[value="TRINITÉ-ET-TOBAGO"] img {
	position: absolute;
	top:;
	left:;
	height: 3px;
	width: 2px;
}
button[value="BARBADE"] img {
	position: absolute;
	top:;
	left:;
	height: 1px;
	width: 1px;
}
button[value="SAINT-KITTS-ET-NEVIS"] img {
	position: absolute;
	top:;
	left:;
	height: 1px;
	width: 0.3px;
}
button[value="SAINT-MARTIN"] img {
	position: absolute;
	top:;
	left:;
	height: 0.5px;
	width: 0.4px;
}
button[value="SAINT-VINCENT-ET-LES-GRENADINES"] img {
	position: absolute;
	top:;
	left:;
	height: 1px;
	width: 0.7px;
}
button[value="ANTIGUA-ET-BARBUDA"] img {
	position: absolute;
	top:;
	left:;
	height: 0.7px;
	width: 0.4px;
}
button[value="SAINT-BARTHÉLEMY"] img {
	position: absolute;
	top:;
	left:;
	height: 0.4px;
	width: 0.2px;
}
button[value="SAINT-LUCIE"] img {
	position: absolute;
	top:;
	left:;
	height: 1px;
	width: 0.7px;
}
button[value="MONTSERRAT"] img {
	position: absolute;
	top:;
	left:;
	height: 0.5px;
	width: 0.3px;
}
button[value="DOMINIQUE"] img {
	position: absolute;
	top:;
	left:;
	height: 2px;
	width: 0.7px;
}
button[value="ANGUILLA"] img {
	position: absolute;
	top:;
	left:;
	height: 1px;
	width: 0.2px;
}
